/* font */
body {
  font-family: Helvetica Neue, sans-serif, -apple-system, BlinkMacSystemFont;
}

/* colors */
:root > * {
  --md-typeset-a-color: #25F1CE;
}

a {
  font-size: 20;
}

h1 {
  font-size: 60;
}
